<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#2E6E38">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Pontos Turíticos</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/pos.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="cabec">
        <h1 class="titulo">Técnicas de Programação!</h1>
        <h2 class="desc">Você pergunta, a APPTUR responde</h2>
    </div>
    <div class="caixa">
        <select id="assuntos">
              <option value="">Selecione aqui o cidade para sua pergunta</option>
              <option value="todos">Todas as cidades(função beta)</option>
              <option value="cuiaba">Cuiabá</option>
              <option value="poa">Porto Alegre</option>
              <option value="chapada">Chapada dos Guimarães</option>
              <option value="Nobres">Nobres</option>
        </select>
        <div class="umsg">
            <input type="text" id="txtArea" placeholder="Digite sua pergunta aqui" autofocus maxlength="100">
            <button type="submit" id="enviarPerg">Enviar</button>
        </div>
        <div class="cxrespfundo" id="cxresp">
        </div>
    </div>
    <div class="rodape">
        <div class="info">
            <img src="../static/img/logo_topo.png" alt="">
            <div class="textoinfo">
                <br> Unisinos - Universidade do Vale do Rio dos Sinos <br> Campus São Leopoldo <br> Av. Unisinos, 950 - Cristo Rei, São Leopoldo - RS, 93022-750 <br> Fone: (51) 3591-1122 <br>
                <a href="http://www.unisinos.br/" target="_blank">www.unisinos.br</a>
            </div>
        </div>
        <div class="info">
            <img src="../static/img/pos.png" alt="">
            <div class="textoinfo">
                <br> Mestrado e Doutorado em Computação Aplicada<br>
                <a href="http://www.unisinos.br/mestrado-e-doutorado/computacao-aplicada/presencial/sao-leopoldo" target="_blank">www.unisinos.br/mestrado-e-doutorado/computacao-aplicada/presencial/sao-leopoldo</a>
            </div>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>

</body>

</html>
